:root{
   --green:#7AA874;
   --ligth-yellow:#F7DB6A;
   --yellow:#EBB02D;
   --pink:#D864A9;
   --pacifico:'Pacifico', cursive;
   --roboto:'Roboto', sans-serif;
}

*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

body{
   width: 100%;
   font-size: 18px;
   font-family: var(--roboto);
}

header{
   background: var(--ligth-yellow);
   padding: 16px 0;
   display: flex;
   justify-content: space-around;
}

header .container{
   max-width:1280px;
   width: 100%;
   display:flex;
   margin: 0 auto;
}


header .title{
   color:var(--pink);
   font-family: var(--pacifico);
   font-weight: normal;
   font-size: 32px;
   margin: 0 16px 0 16px;
}

.nav{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.nav nav ul li{
   margin:0 16px 0 16px;
   display:inline;
   font-size: 20px;
}

.nav a{
   color:var(--pink);
}

.tag{
   color:var(--ligth-yellow);
   background-color: #D864A9;
   text-align: center;
   font-size: 20px;
   font-weight: bold;
}

section .container{
   display: flex;
   padding:20px 0 0 20px;
   max-width:1280px;
   margin: 20px;
   width: 100%;
   
   
}
section .container img{
   height: 350px;
   border-radius: 25px;
   border:4px dotted var(--green);
   margin:auto 0;
   
}

section .second-collum{
   padding: 0 16px 0 16px;

}

h2{
   text-align: center;
   margin:10px
}

.about p{
   margin: 5px;
}

.produtos,
.about{
   width: 100%;
}


.imagens img{
   width: 250px;
   height: 200px;
   border-radius: 15px;
   border:4px dotted var(--green)
}

section .produto{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
}

.imagens{
   margin:10px;
   padding: 10px;
   justify-content: space-between;
   text-align: center;


}

@media (min-width:1000px) {
   .imagens img{
      height: 250px;
      width: 350px;
   }
   
}